* {
	font-family: Montserrat;
}

@font-face {
	font-family: Montserrat;
	src: url(montserrat.ttf);
}

body {
	background: linear-gradient(120deg, darkmagenta, mediumblue);
}

.lform {
	width: 400px;
	height: 600px;
	background: linear-gradient(120deg, dodgerblue, crimson);
	padding: 150px 100px;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 50px grey;
}

.lform h1 {
	font-size: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.in {
	border-bottom: 2px solid grey;
	position: relative;
	margin: 30px 0;
}

.in input {
	font-size: 20px;
	width: 100%;
	height: 50px;
	border: none;
	background: none;
	outline: none;
	padding: 0 5px;
}

.in span::before {
	content: attr(data-placeholder);
	position: absolute;
	top: 50%;
	left: 5px;
	color: grey;
	transform: translateY(-50%);
	z-index: 1;
	transition: .5s;
	text-shadow: 0 0 5px black;
}

.in span::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(120deg, darkmagenta, mediumblue);
	transition: .5s;
}

.focus + span::before {
	top: -5px;
}

.focus + span::after {
	width: 100%;
}

.lbtn {
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	background: linear-gradient(120deg, darkmagenta, mediumblue, crimson);
	background-size: 200%;
	color: white;
	font-family: montserrat;
	font-size: 15px;
	cursor: pointer;
	transition: .5s;
	text-indent: -9999px;
	line-height: 0;
}

.lbtn:hover {
	background-position: right;
}

.lbtn::after {
	content: "qweqwew";
	text-indent: 0;
	display: block;
	line-height: initial;
}
