html {
  overflow: hidden;
}
body {
	background-color: black;
}
.ctr {
	position: absolute;
	top: 50%;
	left: 50%;
}
.cctr {
	position: relative;
	top: -100px;
	left: -400px;
}
.urls {
	font-family: "Montserrat";
	color: white;
	background-color: rgba(200, 200, 200, .3);
	radius: 20px;
}
h1 {
	font-weight: 900;
}
p {
	font-weight: 600;
}
